<section class="container">

    <header>
        <div class="page-header mt-3 mb-3 justify-content-md-center bg-light">
            <div class="row">
                <div class="col-md-6 bg-light">
                    
                    <a class="btn" routerLink="extrato">ByteBank</a>
                </div>
                <div class="col-md-6 bg-light text-align-right">                    
                    <a class="btn" routerLink="nova-transferencia">Nova transferência</a>
                </div>
            </div>
        </div>
    </header>
    

    <main>    
        <router-outlet></router-outlet>
    </main>

</section>